Repository supabase/wrappers, pull requests merged in 2024-08, with the labels that each got.

#323 Give the full server struct to the FDW when instanciating it
  supabase-wrappers/src/instance.rs
  supabase-wrappers/src/interface.rs
  supabase-wrappers/src/lib.rs
  wrappers/src/fdw/airtable_fdw/airtable_fdw.rs
  wrappers/src/fdw/auth0_fdw/auth0_fdw.rs
  wrappers/src/fdw/bigquery_fdw/bigquery_fdw.rs
  wrappers/src/fdw/clickhouse_fdw/clickhouse_fdw.rs
  wrappers/src/fdw/cognito_fdw/cognito_fdw.rs
  wrappers/src/fdw/firebase_fdw/firebase_fdw.rs
  wrappers/src/fdw/helloworld_fdw/helloworld_fdw.rs
  wrappers/src/fdw/logflare_fdw/logflare_fdw.rs
  wrappers/src/fdw/mssql_fdw/mssql_fdw.rs
  wrappers/src/fdw/redis_fdw/redis_fdw.rs
  wrappers/src/fdw/s3_fdw/s3_fdw.rs
  wrappers/src/fdw/stripe_fdw/stripe_fdw.rs
  wrappers/src/fdw/wasm_fdw/wasm_fdw.rs
Labels: enhancement

#303 chore: change all wasm fdw host version requirement
  wasm-wrappers/fdw/helloworld_fdw/src/lib.rs
  wasm-wrappers/fdw/paddle_fdw/src/lib.rs
  wasm-wrappers/fdw/snowflake_fdw/src/lib.rs
  wasm-wrappers/wit/routines.wit
Labels: wasm

#329 chore: upgrade wasm fdws to v0.1.1
  wasm-wrappers/fdw/helloworld_fdw/Cargo.toml
  wasm-wrappers/fdw/paddle_fdw/Cargo.toml
  wasm-wrappers/fdw/snowflake_fdw/Cargo.toml
Labels: wasm

#328 docs: add custom domain config file
  docs/CNAME
Labels: documentation

#331 docs: update docs for paddle and snowflake fdw new version
  .github/workflows/release_wasm_fdw.yml
  docs/assets/fdw-dark.png
  docs/assets/fdw-light.png
  docs/catalog/index.md
  docs/catalog/paddle.md
  docs/catalog/snowflake.md
  docs/catalog/wasm/index.md
  docs/contributing/native.md
  docs/guides/create-wasm-wrapper.md
  docs/guides/native-wasm.md
  docs/guides/wasm-advanced.md
  docs/index.md
  mkdocs.yaml
Labels: documentation, wasm

#333 docs: fix typo
  docs/guides/create-wasm-wrapper.md
Labels: documentation

#334 fix(s3): Supabase Storage access issue
  Cargo.lock
  docs/catalog/s3.md
  wrappers/Cargo.toml
  wrappers/src/fdw/s3_fdw/README.md
  wrappers/src/fdw/s3_fdw/mod.rs
  wrappers/src/fdw/s3_fdw/s3_fdw.rs
Labels: bug, s3

#335 feat: add `get_vault_secret_by_name()` function
  docs/catalog/stripe.md
  supabase-wrappers/src/utils.rs
  wrappers/src/fdw/stripe_fdw/README.md
  wrappers/src/fdw/stripe_fdw/stripe_fdw.rs
Labels: enhancement, stripe
