Repository supabase/wrappers, pull requests merged in 2024-05, with the labels that each got.

#261 docs(clickhouse): add `secure=true` for ClickHouse connection string example
  docs/clickhouse.md
Labels: documentation, clickhouse

#268 fix: numeric cell display
  supabase-wrappers/src/interface.rs
Labels: bug

#267 fix(mssql): incorrect sql deparse for limit and offset clause
  wrappers/src/fdw/mssql_fdw/mod.rs
  wrappers/src/fdw/mssql_fdw/mssql_fdw.rs
  wrappers/src/fdw/mssql_fdw/tests.rs
Labels: bug, mssql

#265 Feat: Extend the fields for users in the Auth0 FDW
  wrappers/dockerfiles/auth0/server.py
  wrappers/src/fdw/auth0_fdw/auth0_client/row.rs
  wrappers/src/fdw/auth0_fdw/tests.rs
Labels: auth0

#279 fix: deparse LIKE operator in qual
  supabase-wrappers/src/interface.rs
  wrappers/src/fdw/mssql_fdw/tests.rs
Labels: bug, mssql
