Repository supabase/wrappers, pull requests merged in 2024-12, with the labels that each got.

#374 fix(wasm): add missing `TIMESTAMPTZOID` type oid
  wrappers/src/fdw/wasm_fdw/host/mod.rs
Labels: bug, wasm

#380 feat(cal): add booking insertion support
  docs/catalog/cal.md
  docs/catalog/index.md
  wasm-wrappers/fdw/cal_fdw/src/lib.rs
Labels: enhancement, wasm

#379 fix(wasm): clean up download, byte handling and hashing
  Cargo.lock
  wrappers/Cargo.toml
  wrappers/src/fdw/wasm_fdw/README.md
  wrappers/src/fdw/wasm_fdw/wasm_fdw.rs
Labels: wasm

#382 chore(cognito): upgrade dependency and code refactoring
  Cargo.lock
  docs/catalog/cognito.md
  wrappers/Cargo.toml
  wrappers/src/fdw/cognito_fdw/README.md
  wrappers/src/fdw/cognito_fdw/cognito_client/mod.rs
  wrappers/src/fdw/cognito_fdw/cognito_client/row.rs
  wrappers/src/fdw/cognito_fdw/cognito_client/rows_iterator.rs
  wrappers/src/fdw/cognito_fdw/cognito_fdw.rs
  wrappers/src/fdw/cognito_fdw/mod.rs
Labels: cognito

#381 docs(wasm): update Cal.com wrapper wasm fdw checksum
  docs/catalog/cal.md
Labels: documentation, wasm

#387 feat(wasm): add Cloudflare D1 Wasm wrapper
  Cargo.toml
  README.md
  docs/catalog/cfd1.md
  docs/catalog/index.md
  docs/catalog/wasm/index.md
  mkdocs.yaml
  wasm-wrappers/fdw/cfd1_fdw/Cargo.lock
  wasm-wrappers/fdw/cfd1_fdw/Cargo.toml
  wasm-wrappers/fdw/cfd1_fdw/src/lib.rs
  wasm-wrappers/fdw/cfd1_fdw/wit/world.wit
  wrappers/dockerfiles/wasm/server.py
  wrappers/src/fdw/wasm_fdw/tests.rs
Labels: enhancement, wasm

#391 docs(wasm): update Cloudflare D1 Wasm FDW checksum
  docs/catalog/cfd1.md
Labels: documentation, wasm
