Repository supabase/wrappers, pull requests merged in 2025-05, with the labels that each got.

#455 feat(wasm): [DATAENG-915] add `import foreign schema` support to other FDWs
  docs/catalog/cal.md
  docs/catalog/calendly.md
  docs/catalog/cfd1.md
  docs/catalog/clerk.md
  docs/catalog/hubspot.md
  docs/catalog/notion.md
  docs/catalog/orb.md
  docs/catalog/paddle.md
  docs/catalog/slack.md
  docs/catalog/snowflake.md
  wasm-wrappers/fdw/cal_fdw/Cargo.lock
  wasm-wrappers/fdw/cal_fdw/Cargo.toml
  wasm-wrappers/fdw/cal_fdw/src/lib.rs
  wasm-wrappers/fdw/cal_fdw/wit/world.wit
  wasm-wrappers/fdw/calendly_fdw/Cargo.lock
  wasm-wrappers/fdw/calendly_fdw/Cargo.toml
  wasm-wrappers/fdw/calendly_fdw/src/lib.rs
  wasm-wrappers/fdw/calendly_fdw/wit/world.wit
  wasm-wrappers/fdw/cfd1_fdw/Cargo.lock
  wasm-wrappers/fdw/cfd1_fdw/Cargo.toml
  wasm-wrappers/fdw/cfd1_fdw/src/lib.rs
  wasm-wrappers/fdw/cfd1_fdw/wit/world.wit
  wasm-wrappers/fdw/clerk_fdw/Cargo.lock
  wasm-wrappers/fdw/clerk_fdw/Cargo.toml
  wasm-wrappers/fdw/clerk_fdw/src/lib.rs
  wasm-wrappers/fdw/clerk_fdw/wit/world.wit
  wasm-wrappers/fdw/helloworld_fdw/Cargo.lock
  wasm-wrappers/fdw/helloworld_fdw/Cargo.toml
  wasm-wrappers/fdw/helloworld_fdw/src/lib.rs
  wasm-wrappers/fdw/helloworld_fdw/wit/world.wit
  wasm-wrappers/fdw/hubspot_fdw/Cargo.lock
  wasm-wrappers/fdw/hubspot_fdw/Cargo.toml
  wasm-wrappers/fdw/hubspot_fdw/src/lib.rs
  wasm-wrappers/fdw/hubspot_fdw/wit/world.wit
  wasm-wrappers/fdw/notion_fdw/Cargo.lock
  wasm-wrappers/fdw/notion_fdw/Cargo.toml
  wasm-wrappers/fdw/notion_fdw/src/lib.rs
  wasm-wrappers/fdw/notion_fdw/wit/world.wit
  wasm-wrappers/fdw/orb_fdw/Cargo.lock
  wasm-wrappers/fdw/orb_fdw/Cargo.toml
  wasm-wrappers/fdw/orb_fdw/src/lib.rs
  wasm-wrappers/fdw/orb_fdw/wit/world.wit
  wasm-wrappers/fdw/paddle_fdw/Cargo.lock
  wasm-wrappers/fdw/paddle_fdw/Cargo.toml
  wasm-wrappers/fdw/paddle_fdw/src/lib.rs
  wasm-wrappers/fdw/paddle_fdw/wit/world.wit
  wasm-wrappers/fdw/slack_fdw/Cargo.lock
  wasm-wrappers/fdw/slack_fdw/Cargo.toml
  wasm-wrappers/fdw/slack_fdw/src/lib.rs
  wasm-wrappers/fdw/slack_fdw/wit/world.wit
  wasm-wrappers/fdw/snowflake_fdw/Cargo.lock
  wasm-wrappers/fdw/snowflake_fdw/Cargo.toml
  wasm-wrappers/fdw/snowflake_fdw/src/lib.rs
  wasm-wrappers/fdw/snowflake_fdw/wit/world.wit
  wrappers/src/fdw/wasm_fdw/README.md
  wrappers/src/fdw/wasm_fdw/wasm_fdw.rs
Labels: wasm

#449 fix: ClickHouse url change
  docs/catalog/clickhouse.md
Labels: documentation

#462 feat: [PSQL-367] add Apache Iceberg FDW
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/release_wasm_fdw.yml
  .github/workflows/test_supabase_wrappers.yml
  .github/workflows/test_wrappers.yml
  Cargo.lock
  Cargo.toml
  README.md
  docs/catalog/iceberg.md
  docs/catalog/index.md
  mkdocs.yaml
  supabase-wrappers-macros/Cargo.toml
  supabase-wrappers/Cargo.toml
  supabase-wrappers/src/instance.rs
  wasm-wrappers/fdw/Cargo.lock
  wasm-wrappers/fdw/Cargo.toml
  wasm-wrappers/fdw/cal_fdw/Cargo.toml
  wasm-wrappers/fdw/calendly_fdw/Cargo.toml
  wasm-wrappers/fdw/calendly_fdw/src/lib.rs
  wasm-wrappers/fdw/cfd1_fdw/Cargo.toml
  wasm-wrappers/fdw/clerk_fdw/Cargo.toml
  wasm-wrappers/fdw/helloworld_fdw/Cargo.toml
  wasm-wrappers/fdw/hubspot_fdw/Cargo.toml
  wasm-wrappers/fdw/notion_fdw/Cargo.toml
  wasm-wrappers/fdw/notion_fdw/src/lib.rs
  wasm-wrappers/fdw/orb_fdw/Cargo.toml
  wasm-wrappers/fdw/orb_fdw/src/lib.rs
  wasm-wrappers/fdw/paddle_fdw/Cargo.toml
  wasm-wrappers/fdw/slack_fdw/Cargo.toml
  wasm-wrappers/fdw/slack_fdw/src/lib.rs
  wasm-wrappers/fdw/slack_fdw/src/models.rs
  wasm-wrappers/fdw/snowflake_fdw/Cargo.toml
  wrappers/.ci/docker-compose-native.yaml
  wrappers/Cargo.toml
  wrappers/dockerfiles/s3/Dockerfile
  wrappers/dockerfiles/s3/iceberg_seed.py
  wrappers/dockerfiles/s3/init/01-init-data.sh
  wrappers/src/fdw/bigquery_fdw/bigquery_fdw.rs
  wrappers/src/fdw/iceberg_fdw/README.md
  wrappers/src/fdw/iceberg_fdw/iceberg_fdw.rs
  wrappers/src/fdw/iceberg_fdw/mapper.rs
  wrappers/src/fdw/iceberg_fdw/mod.rs
  wrappers/src/fdw/iceberg_fdw/pushdown.rs
  wrappers/src/fdw/iceberg_fdw/tests.rs
  wrappers/src/fdw/mod.rs
  wrappers/src/fdw/s3_fdw/s3_fdw.rs
  wrappers/src/fdw/s3_fdw/tests.rs
  wrappers/src/fdw/wasm_fdw/tests.rs
  wrappers/src/lib.rs
Labels: enhancement, iceberg

#466 feat(ClickHouse): [DATAENG-960] add more primitive types and array type support
  Cargo.lock
  docs/catalog/clickhouse.md
  wrappers/Cargo.toml
  wrappers/src/fdw/clickhouse_fdw/README.md
  wrappers/src/fdw/clickhouse_fdw/clickhouse_fdw.rs
  wrappers/src/fdw/clickhouse_fdw/mod.rs
  wrappers/src/fdw/clickhouse_fdw/test_server/Dockerfile
  wrappers/src/fdw/clickhouse_fdw/test_server/clickhouse.yaml
  wrappers/src/fdw/clickhouse_fdw/test_server/mnt/clickhouse_seed.sql
  wrappers/src/fdw/clickhouse_fdw/tests.rs
Labels: clickhouse

#464 fix: [DATAENG-969] make wrappers extension relocatable
  wrappers/wrappers.control
Labels: bug

#465 docs(auth0): add missing `url` server option
  docs/catalog/auth0.md
Labels: documentation, auth0

#470 fix(clickhouse): integer type up-cast and down-cast
  docs/catalog/clickhouse.md
  wrappers/src/fdw/clickhouse_fdw/clickhouse_fdw.rs
  wrappers/src/fdw/clickhouse_fdw/tests.rs
Labels: clickhouse
